body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header a {
  background: gray;
  padding: 5px;
}

header, #featured-property {
  margin: auto;
  text-align: center;
}

#featured-property p {
  width: 50%;
  margin: auto;
}

#details {
  background: red;
  display: block;
}

#details div {
  float: left;
}
